{%  extends "base.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="h1">Oauth2 POC - Authorization Server</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Cette application est le server Oauth, cette application gère l'accès aux resources.</h2>
            </div>
        </div>
    </div>
{% endblock %}